@import ../../styles/_variables
@import ../../styles/_inheritance
@import ../../styles/_mixin

.hero
  grid-row-start: 1
  &__box
    +grid(1)
    +gridItem(10)
    position: relative
    height: $r20
    justify-items: center
    align-items: center
    overflow: hidden
    cursor: pointer
    &-img
      position: absolute
      object-fit: cover
      width: $p100
      &:hover
        opacity: 0
    &-inverse
      background: $c-i-dark
      color: $c-white
      &:hover
        color: $c-i-dark
        // opacity: 0
        background: none



  &__heading
    align-item: center
    justify-item: center

  &__desc
    +gridItem(6)
    align-self: center
    text-align: left
