//
%d-grid
  display: grid
  grid-auto-rows: minmax($r2, auto)
  grid-auto-flow: dance
  gap: $r1
//

%grid16
  grid-template-columns: repeat(16, 1fr)


%grid12
  grid-template-columns: repeat(12, 1fr)


%grid8
  grid-template-columns: repeat(8, 1fr)

%grid6
  grid-template-columns: repeat(6, 1fr)

%grid4
  grid-template-columns: repeat(4, 1fr)
//


%gridItemCol16
  grid-column:  auto / span 16
  grid-template-columns: repeat(16, 1fr)


%gridItemCol12
  grid-column:  auto / span 12
  grid-template-columns: repeat(12, 1fr)

%gridItemCol8
  grid-column:  auto / span 8
  grid-template-columns: repeat(8, 1fr)

%gridItemCol6
  grid-column:  auto / span 6
  grid-template-columns: repeat(6, 1fr)

%gridItemCol4
  grid-column:  auto / span 4
  grid-template-columns: repeat(4, 1fr)

%gridItemCol3
  grid-column:  auto / span 3
  grid-template-columns: repeat(3, 1fr)

%gridItemCol2
  grid-column:  auto / span 2
  grid-template-columns: repeat(2, 1fr)

%gridItemCol1
  grid-column:  auto / span 1
  grid-template-columns: repeat(1, 1fr)


%gridItemRow4
  grid-row:  auto / span 4
  grid-template-rows: repeat(4, 1fr)

%gridItemRow3
  grid-row:  auto / span 3
  grid-template-rows: repeat(3, 1fr)

%gridItemRow2
  grid-row:  auto / span 2
  grid-template-rows: repeat(2, 1fr)

//

%d-flex
  display: flex

%flexCol
  @extend %d-flex
  flex-direction: column
//

