=modal()
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
//
=gridDefArea($top, $center, $bottom)
  display: grid
  grid-template: $top $center $bottom
  gap: $r1

=grid($col, $rowH: 1fr)
  position: relative
  display: grid
  grid-template-columns: repeat($col, 1fr)
  grid-template-rows: repeat(1, $rowH)
  grid-auto-rows: minmax($r2, auto)
  grid-auto-flow: dense
  gap: $r1

=gridRow($row, $hight)
  grid-template-rows: repeat($row, $hight) !important
  grid-auto-rows: $hight !important

=gridItem($col)
  grid-column:  auto / span $col

=gridItemRow($row)
  grid-row:  auto / span $row


//
=marginX($value)
  margin-left: $value
  margin-right: $value

=marginY($value)
  margin-top: $value
  margin-bottom: $value

=paddingX($value)
  padding-left: $value
  padding-right: $value

=paddingY($value)
  padding-top: $value
  padding-bottom: $value
//
=afterBg($content: '')
  content: $content
  position: absolute
  width: 100%
  height: 100%
//
=textDef($size)
  font-size: $size
  line-height: $size
//
=radius($value)
  border-radius: $value
//
=ccStyle($color1, $color2)
  background-color: $color1
  h4
    color: $color2
  &::before
    +afterBg()
    background: $color1 !important
    z-index: 500
    opacity: .1 !important
    pointer-events: none
