.btn
  +radius($e05)
  width: $p100
  cursor: pointer
  background-color: $c-gray-lighter
  color: $c-i-dark


  &:hover
    background-color: $c-gray-light
  &:active
    background-color: $c-gray-lighter
    color: $c-gray

  &[disabled]
    cursor: not-allowed
    background: $c-gray-lighter
    color: $c-gray-light
