html, *, body
  box-sizing: border-box


body
  +gridDefArea('head', 'main', 'footer')
  min-height: 100vh
  text-align: center
  grod-gap: $r1
  background: $c-i-white
  align-content: space-between

main
  +grid(1)
  gap: $r3
  .container
    min-height: 80px


.container
  +grid(32)
  +paddingX($r1)
  +marginX(auto)
  max-width: $mw3840
  width: $p100

.bg-dark
  background: $c-i-dark
  color: $c-white


@media (max-width: 1920px)
  .container
    +grid(16)
    max-width: $mw1920

@media (max-width: 1080px)
  .container
    +grid(12)
    max-width: $mw1080

@media (max-width: 720px)
  .container
    +grid(8)
    max-width: $mw720

@media (max-width: 540px)
  .container
    +grid(4)
    max-width: $mw540

@media (max-width: 320px)
  .container
    +grid(2)
    max-width: $p100
