.modal
  +modal()
  position: fixed !important
  display: none
  width: 100vw
  z-index: 50

  &-open
    +grid(1)
    // +marginX(auto)
    align-items: center
    justify-content: center

  &__box
    align-self: center
    justify-self: center
    position: absolute
    max-width: fit-content
    max-height: fit-content

  &__bg
    +modal()
    position: absolute
    width: $p100
    height: $p100
    background-color: $c-black
    z-index: -5
    opacity: .8
