.invalid
  outline: 1px solid $c-danger
  box-shadow: inset 0 0 5px 1px $c-danger
  color: $c-danger
  &-txt
    color: $c-danger !important

.valid
  outline: 1px solid $c-success-d
  box-shadow: inset 0 0 5px 1px $c-success-d
  color: $c-success-d !important
  &-txt
    color: $c-success-d !important

.success
  background-color: $c-i-bronze
  color: $c-white
  &:hover
    background-color: $c-i-bronze-l
    color: $c-i-dark


.unknown
  &::after
    content: none



.visa:not(input)
  +ccStyle(#1a1f71, #1a1f71)

.mastercard:not(input)
  +ccStyle(#EB001B, #F79E1B)

.mir:not(input)
  +ccStyle(#00754E, #1f5bd7)

.unionpay:not(input)
  +ccStyle(#ed171f, #006a65)

.amerivanexpress:not(input)
  +ccStyle(#016FD0, #016FD0)

.discover:not(input)
  +ccStyle(#000, #E55C20)

.jcb:not(input)
  +ccStyle(#1f286f, #007940)

.dinnersclub:not(input)
  +ccStyle(#004c97, #009ca6)

.maesrto:not(input)
  +ccStyle(#EB001B, 	#00A2E5)

.laser:not(input)
  +ccStyle(#000, #000)

.elo:not(input)
  +ccStyle(#000, #000)

.hipercard:not(input)
  +ccStyle(#000, #000)

.troy:not(input)
  +ccStyle(#000, #000)

