@font-face
  font-family: 'Cuprum'
  src: url(./assets/fonts/Cuprum-Regular.ttf)
  font-weight: normal

@font-face
  font-family: 'Cuprum'
  src: url(./assets/fonts/Cuprum-Bold.ttf)
  font-weight: bold

@font-face
  font-family: 'Cuprum'
  src: url(./assets/fonts/Cuprum-SemiBold.ttf)
  font-weight: 900

// @font-face
//   font-family: 'Cuprum'
//   src: url(./assets/fonts/Cuprum-Medium.ttf)
//   font-weight: 600

// @font-face
//   font-family: $ff
//   src: url(./assets/fonts/Cuprum-VariableFont_wght.ttf)
//   font-weight: var

html
  font-family: $ff, sans-serif
  color: $c-i-dark
  // font-weight: 700

h1,h2,h3,h4,h5
  margin: 0
  padding: 0
  font-family: $ff, sans-serif
  font-weight: bold

h1
  font-size: $r8
h2
  font-size: $r3
h3
  font-size: $r1
