@import ../../styles/_variables
@import ../../styles/_inheritance
@import ../../styles/_mixin

.header
  &__logo
    +gridItem(2)
    width: $p100

  &__logo
    display: block

  &__txt
    +gridItem(3)
    align-self: center
    flex: end
