@import ../../styles/_variables
@import ../../styles/_inheritance
@import ../../styles/_mixin

.footer
  height: 100%
  .container
    +paddingY($r3)

  &__logo
    +gridItem(2)
    width: $p100

  &__logo
    display: block

  &__txt
    +gridItem(3)
    align-self: center
    flex: end
