@import ../../styles/_variables
@import ../../styles/_inheritance
@import ../../styles/_mixin


.payform
  +grid(6)
  +gridRow(3, 1fr)
  +gridItem(6)
  +radius(3.17mm)
  min-height: 200px
  padding: $r1
  background: linear-gradient(-45deg, $c-i-dark, rgba($c-i-dark, .5))
  box-shadow: inset 1px 1px 1mm 0px  rgba( $c-white, .3), 1px 1px 1mm rgba($c-i-dark, .5)
  overflow: hidden

  &__description
    +gridItem(6)
    align-self: end
    font-size: $e2

  &__card,
  &__cvv,
  &__date,
  &__mail
    +radius($e05)
    overflow: hidden

  &__card
    +grid(4)
    +gridItem(4)
    &__type
      +radius($e05)
      position: absolute
      right: 0px
      width: fit-content
      height: 100%
      box-shadow: 0 0 20mm rgba($c-i-dark, .5)
    .input
      +gridItem(4)



  &__cvv,
  &__date
    +grid(2)
    +gridItem(2)
    .input
      +gridItem(2)
      width: 100%

  &__mail
    +grid(3)
    +gridItem(3)
    .input
      +gridItem(3)

  &__group
    display: flex
    grid-column-end: -1
    grid-row-end: -1

  &__heading
    position: absolute
    bottom: -5px
    right: $r1
    color: $c-i-dark
    pointer-events: none
    &.number
      right: $r5 + $r05



  &:hover
    box-shadow: inset 1px 1px 1mm 0px rgba( $c-white, .5), 1px 1px 1mm rgba($c-i-dark, .5), $r05 $r05 $r2 rgba($c-i-dark, .2)
    cursor: pointer

  &::after
    +afterBg()
    opacity: 0

  & > *
    z-index: 5







//



svg:not(:root)
  overflow: hidden

:not(svg)
  transform-origin: 0px 0px

@media (max-width: 540px)
  .payform
    +grid(4)

    &__group
      grid-row-end: auto


@media (max-width: 320px)
  .payform
    +grid(2)

    &__card,
    &__mail,
    &__group
      +gridItem(2)

    &__cvv,
    &__date
      +gridItem(1)

    &__group
      grid-row-end: auto
